/* © David Coope */

/* Styling content within the header, loading, main and footer sections */

/* Styling was accomplished using a mobile first approach */

/* Default font families and size, as well as avoiding white lines from appearing on outside of the content */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* Default links */
a, a:visited {
    text-decoration: none;
    color: #000000;
}

/* Default lists */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Skip navigation link hidden by default */
#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Skip navigation link appears when focused through keyboard tabbing or screen readers */
#skip a:focus {
    left: auto;
    width: auto;
    height: auto;
    z-index: 5;
}

/* Introduction section to make the text in the middle centre of the section */
#introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    background: #4772d6;
    background-size: cover;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #FFFFFF;
}

/* Portfolio owner's greeting and name */
#introduction h1 {
    font-size: 3em;
    margin-bottom: 0;
}

/* Portfolio owner's working towards goal text */
#introduction h2 {
    padding: 0 1em;
}

/* Website's main navigation */
nav {
    position: static;
    height: 51px;
    text-align: center;
    background: #9FB9F6;
    width: 100%;
    top: 0;
    box-shadow: 0 0 1em 0 #000000;
}

/* Helps position the navigation at the centre and not at the left */
nav ul {
    display: inline-block;
}

/* Navigation links position next to each other rather than under each other  */
nav ul li {
    float: left;
}

/* Padding and width spacing between each of the navigation links */
nav ul li a {
    display: inline-block;
    padding: 1.02em 0;
    width: 6em;
    font-weight: bold;
    color: #000000;
}

/* Styling for Firefox users */
@-moz-document url-prefix() {
    /* Adjust padding between each of the navigation links due to the way how Firefox handles their padding property */
    nav ul li a {
        padding: 0.97em 0;
    }
}

/* Creates a spinning loading circle while the styling and functionality for the main content is loading */
#loading {
    position: fixed;
    left: 0;
    right: 0;
    margin: 6em auto auto;
    text-align: center;
    border: 1em solid #9FB9F6;
    border-radius: 50%;
    border-top: 1em solid #4772d6;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

/* Apply how much the loading circle's spinner should rotate between the two transforms */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide main content while the styling and functionality for it is loading */
main {
    opacity: 0;
}

/* Even divs that have a parent of main have a background colour of hawkes blue for section differentiation */
main > div:nth-child(even) {
    background-color: #E6ECFD;
}

/* Prepares responsive grid by setting the relevant properties and supplying a maximum width for the main content */
main .row {
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 3.5em 1em;
    max-width: 1200px;
    margin: 0 auto;
}

/* Ensures the background colours of the parent main's divs actually contain each of their child section content */
main .row::after {
    content: "";
    clear: both;
    display: table;
}

/* Columns are set a width of 100% for smartphone users due to the limited screen space they offer */
[class*="col-"] {
    float: left;
    width: 100%;
}

/* Prevents any columns from going out of place by resetting the columns count */
.clear {
    clear: both;
}

/* Section title */
main .row h1, main .row h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    line-height: 1.5em;
}

/* First row with section title has additional top spacing to prevent it from being closely underneath the navigation */
main .row:first-child h1, main .row:first-child h2 {
    margin-top: 0.83em;
}

/* Section subtitle */
main .row h3 {
    text-align: center;
}

/* Positions images in the centre */
section aside {
    text-align: center;
}

/* Prevent images from increasing if its width is equal or greater to 250px */
#about aside img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}

/* Positions the content within the key technical skills and contact sections in the centre */
#about div, #contact div {
    text-align: center;
}

/* Each key technical skill is set a width of 100% for smartphone users due to the limited screen space they offer */
#about div ul li {
    width: 100%;
    margin-bottom: 1em;
}

/* Creates circles for displaying icons */
#about div ul li span, #contact ul li .container {
    display: inline-block;
    width: 91px;
    height: 91px;
    border-radius: 50%;
}

/* Key technical skill icons /*

/* User Experience Design */
#about div ul:nth-child(1) li span {
    background: #FF1493 url("../images/icon-sprites.png") 16px 13px no-repeat;
}

/* User Research */
#about div ul:nth-child(2) li span {
    background: #663399 url("../images/icon-sprites.png") -65px 13px no-repeat;
}

/* Usability Testing */
#about div ul:nth-child(3) li span {
    background: #4169E1 url("../images/icon-sprites.png") -135px 14px no-repeat;
}

/* Accessibility Testing */
#about div ul:nth-child(4) li span {
    background: #008000 url("../images/icon-sprites.png") -211px 15px no-repeat;
}

/* Interaction Design */
#about div ul:nth-child(5) li span {
    background: #FF8C00 url("../images/icon-sprites.png") -305px 15px no-repeat;
}

/* Visual Design */
#about div ul:nth-child(6) li span {
    background: #8B0000 url("../images/icon-sprites.png") -396px 15px no-repeat;
}

/* Each key technical skill text has additional bottom spacing to provide differentiation between each skill */
#about div ul li:nth-child(even) {
    font-weight: bold;
    margin-bottom: 2em;
}

/* Provides spacing between the case study results text and the buttons/links */
.work:last-child > p {
    margin-bottom: 6em;
}

/* Reduces the spacing between two paragraphs for the case study results */
.results:last-child > p {
    margin-bottom: 3em;
}

/* Remove the spacing as it is in the last paragraph for the case study results */
.results:last-child > p:last-child {
    margin-bottom: 0;
}

/* Prevent images from increasing if its width is equal or greater to 391px */
.work aside img {
    width: 100%;
    max-width: 391px;
}

/* Add border and radius for images that do not have a transparent background colour. */
.work aside .full {
    border-radius: 10%;
}

/* Each section has additional bottom spacing to provide differentiation between each portfolio work */
.work section {
    margin-bottom: 3em;
}

/* Does not apply additional bottom spacing to the last portfolio work as spacing between each section already exists */
.work section:last-child {
    margin-bottom: 0;
}

/* Each work section paragraph has additional bottom spacing to prevent the blue button links from being too close  */
.work section p {
    padding-bottom: 1em;
}

/* Work and case study results sections blue button links */
.work section > a, .work > a {
    background: #2752b6;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 1.5em 3em;
    font-size: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    width: 192px;
}

/* Make text links that are not buttons clickable */
.work section p a {
    text-decoration: underline;
}

/* Reduces spacing between the first button and a paragraph  */
.work > a:nth-of-type(1) {
    margin-top: -4em;
}

/* Provides spacing between two buttons  */
.work > a {
    margin-top: 3em;
}

/* Makes any heading elements the font size of the h2 element for logical nesting reasons */
.work section .small_heading {
    font-size: 1.17em;
}

/* Increase font size of contact and social media details */
#contact ul {
    font-size: 1.2em;
}

/* Ensures that each contact icon and text is positioned in the centre of the section */
#contact ul li .container, #contact ul li .text {
    display: block;
    margin: 0 auto;
}

/* Contact and social media icons /*

/* Email/Envelope */
#contact ul li:nth-child(1) .container {
    background: #663399 url("../images/icon-sprites.png") -486px 17px no-repeat;
}

/* Twitter */
#contact ul li:nth-child(2) .container {
    background: #1da1f2 url("../images/icon-sprites.png") -584px 16px no-repeat;
}

/* LinkedIn */
#contact ul li:nth-child(3) .container {
    background: #0073B2 url("../images/icon-sprites.png") -682px 16px no-repeat;
}

/* Ensures each detail is positioned in the centre and not positioned to the left or the right */
#contact a {
    display: block;
}

/* Each contact detail has additional bottom spacing to prevent each contact detail from being too close */
#contact ul li {
    padding-bottom: 1em;
}

/* Does not apply additional bottom spacing to the last contact detail as spacing between each section already exists */
#contact ul li:last-child {
    padding-bottom: 0;
}

/* Each contact detail icon has additional bottom spacing to prevent each contact detail icon from being too close */
#contact ul li .container {
    margin-bottom: 1em;
}

/* Website's footer for containing copyright information  */
footer {
    padding: 1.56em 0;
    text-align: center;
}

/* Users who have iPhone 6 in portrait view and equivalent */
@media only screen and (min-width: 375px) {
    /* Increase width for each of the navigation links due to the increased navigation room  */
    nav ul li a {
        width: 7em;
    }

    /* Remove additional bottom spacing for the skills section as spacing between each section already exists */
    #about div {
        margin-bottom: -2em;
    }

    /* Each skill has a set width and are still positioned in the centre so that skills can float next to one another */
    #about div ul {
        width: 190px;
        display: inline-block;
    }
}

/* Users who have iPhone 6 Plus in portrait view and equivalent */
@media only screen and (min-width: 414px) {
    /* Increase width for each of the navigation links due to the increased navigation room  */
    nav ul li a {
        width: 8em;
    }
}

/* Users who have tablet and desktop devices */
@media only screen and (min-width: 740px) {
    /* Increase font size of Portfolio owner's greeting and name */
    #introduction h1 {
        font-size: 4em;
    }

    /* Increase font size of Portfolio owner's working towards goal text */
    #introduction h2 {
        font-size: 2em;
    }

    /* Increase width for each of the navigation links due to the increased navigation room  */
    nav ul li a {
        width: 10em;
    }

    /* Apply hover state background colour of selago for each of the navigation links */
    nav ul li a:hover {
        background: #F3F7FE;
    }

    /* Apply hover state background colour of cornflower blue and text decoration of underline for each content link */
    main a:hover  {
        color: #06C;
        text-decoration: underline;
    }

    /* Each portfolio work title has less top spacing as spacing between each piece of portfolio work already exists */
    .work section h1, .work section h2 {
        margin-top: 0.2em;
    }

    /* Text align the case study titles to the centre */
    .work section h1:first-child {
        text-align: center;
    }

    /* Text align each portfolio work title and subtitle to the left as they are out of place when centred */
    .work section h2, .work section h3 {
        text-align: left;
    }

    /* Ensures each of the blue button links are positioned in the centre and not positioned to the left or the right */
    .work section > a {
        display: inline-block;
    }

    /* Ensures each of the blue button links are floating next to each other, as well as having enough spacing */
    .work > a {
        float: left;
        margin-right: 3em;
        margin-top: -4em;
    }

    /* Apply hover state background colour of biscay and text decoration of none for each blue button link */
    .work section > a:hover, .work > a:hover {
        color: #FFFFFF;
        background: #214598;
        text-decoration: none;
    }

    /* For every odd number of occurrences for each image holder, position it to the left of its content */
    .work aside:nth-of-type(odd) {
        padding-right: 8.33%;
    }

    /* For every even number of occurrences for each image holder, position it to the right of its content */
    .work aside:nth-of-type(even) {
        float: right;
        padding-left: 8.33%;
    }

    /* Position each contact and social media detail to the left and next to one another where possible with spacing */
    #contact ul li {
        display: inline-block;
        width: 385px;
        text-align: left;
    }

    /* Ensures each of the contact and social media details are positioned and inline with one another to the left  */
    #contact ul li .container, #contact ul li .text {
        display: inline-block;
    }

    /* Ensures each of the contact and social media text are inline and next to each other with their relevant logos  */
    #contact ul li span:last-child {
        margin-top: 1.7em;
        margin-left: 1em;
        vertical-align: top;
    }

    /* 12 column responsive grid for tablet and desktop users */
    .col-3 { width: 25%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }

    /* 3 and 9 column structures for the about section act as a 12 column structure due to them being out of place */
    .col-12, #about .col-3, #about .col-9 { width: 100%; }
}

/* Users who have large tablet devices */
@media only screen and (min-width: 829px) {
    /* Does not apply additional bottom spacing to the last icon as spacing between each detail already exists */
    #contact ul li .container {
        margin-bottom: 0;
    }
}

/* Users who have desktop devices */
@media only screen and (min-width: 1080px) {
    /* Cartoon illustration of portfolio owner is text aligned to the left to make the who am I text inline with it */
    #about aside {
        text-align: left;
    }

    /* Text align about subtitles to the left to make the who I am text inline with the cartoon illustration */
    #about .col-9 h3 {
        text-align: left;
        margin-top: 0;
    }

    /* 3 and 9 column structures allow the cartoon illustration and who am I text to be inline with one another */
    #about .col-3 { width: 25%; }
    #about .col-9 { width: 75%; }
}
/* Users who have large desktop devices */
@media only screen and (min-width: 1216px) {
    /* Does not apply additional bottom spacing to each contact as spacing between them and the footer already exists */
    #contact ul li {
        padding-bottom: 0;
    }
}